.sr_no {
    width: 30px;
}


.asphalt{
    margin-left: -27vw;
    margin-right: -20vw;
}

.tableu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row table {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 0;
}

#dataInput2, #dataInput3 {
    display: none;
}

.del_ph,
.del_v,
.dphbydv,
.mean,
.x-input,
.y-input,
.sr_no {
    /* width: 40px; */
    padding: 10px;
}


@media only screen and (max-width: 800px){
    .asphalt{
        margin-left: -5vw;
        margin-right: -5vw;
    }
}